::ng-deep .mat-expansion-panel-body {
  border-left: 4px solid rgb(102, 51, 153);
  padding-top: 2px;
}
.container {
  background-color: #f8f7f0;
  padding: 10px;
  margin: auto;
  align-items: center;
  max-width: 400px;
  display: flex;
  flex-direction: column;

  mat-accordion {
    max-width: 200px;
  }

  #inner-container {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
  }

  .mat-expansion-panel {
    background-color: #ffffff;
    border: 0.5px solid rgb(102, 51, 153, 0.1);
    box-shadow: none;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 0px;

    .mat-expansion-panel-header {
      padding-left: 10px;
      border-left: 4px solid rgb(102, 51, 153);
      justify-content: right;
      align-items: center;

      .mat-expansion-panel-header-title {
        align-items: center;
      }
    }
    p {
      font-weight: 300;
      max-width: 150px;
    }
  }
}
