.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;

  #inner-container {
    margin: 20px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    .mat-expansion-panel {
      background-color: #ffffff;
      border: 0.5px solid rgb(102, 51, 153, 0.1);
      box-shadow: none;
      padding-bottom: 2px;
      border-radius: 0px;

      .mat-expansion-panel-header {
        font-size: 15pt;
        padding-left: 10px;
        padding-right: 5px;
        border-left: 4px solid rgb(102, 51, 153);
        justify-content: right;
        align-items: center;

        .mat-expansion-panel-header-title {
          word-wrap: break-word;
          align-items: center;
        }
      }
      .panel-description {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: center;
      }
    }
  }
}
::ng-deep .mat-expansion-panel-body {
  font-size: 13pt;
  border-left: 4px solid rgb(102, 51, 153);
  display: flex;
  justify-content: space-around;
  align-items: center;

  p {
    font-weight: 300;
    width: 150px;
    word-wrap: break-word;
  }
  a {
    padding: 0;
  }
}

.add-button {
  width: 100px;
  height: 100px;
  position: fixed;
  top: 50%;
  bottom: 50%;
  right: -50px;
  transition: right 0.2s;
  transition-timing-function: linear;
  &:hover {
    right: 5px;
  }
}
