.footer {
  position: fixed;
  bottom: 0px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  z-index: 2;
  span {
    font-size: 24pt;
  }
  mat-icon {
    padding-right: 40px;
    padding-bottom: 25px;
    font-size: 40pt;
  }
}
.header {
  min-width: 500px;
  display: flex;
  align-items: center;
  z-index: 1;
  font-size: 24pt;
  mat-icon {
    padding-bottom: 10px;
    font-size: 24pt;
  }
}
